<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bricks.mapper.BrkFaceMapper">
    
    <resultMap type="BrkFace" id="BrkFaceResult">
        <result property="faceId"    column="face_id"    />
        <result property="faceName"    column="face_name"    />
        <result property="comments"    column="comments"    />
        <result property="originId"    column="origin_id"    />
        <result property="originUrl"    column="origin_url"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="BrkFaceBrkFaceLayerResult" type="BrkFace" extends="BrkFaceResult">
        <collection property="brkFaceLayerList" ofType="BrkFaceLayer" column="face_id" select="selectBrkFaceLayerList" />
    </resultMap>

    <resultMap type="BrkFaceLayer" id="BrkFaceLayerResult">
        <result property="layerId"    column="layer_id"    />
        <result property="faceId"    column="face_id"    />
        <result property="layerType"    column="layer_type"    />
        <result property="data"    column="data"    />
        <result property="x"    column="x"    />
        <result property="y"    column="y"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
    </resultMap>

    <sql id="selectBrkFaceVo">
        select face_id, face_name, comments, origin_id, origin_url, create_by, create_time, update_by, update_time from brk_face
    </sql>

    <select id="selectBrkFaceList" parameterType="BrkFace" resultMap="BrkFaceResult">
        <include refid="selectBrkFaceVo"/>
        <where>  
            <if test="faceName != null  and faceName != ''"> and face_name like concat('%', #{faceName}, '%')</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="originId != null  and originId != ''"> and origin_id = #{originId}</if>
            <if test="originUrl != null  and originUrl != ''"> and origin_url = #{originUrl}</if>
        </where>
    </select>
    
    <select id="selectBrkFaceByFaceId" parameterType="Long" resultMap="BrkFaceBrkFaceLayerResult">
        select face_id, face_name, comments, origin_id, origin_url, create_by, create_time, update_by, update_time
        from brk_face
        where face_id = #{faceId}
    </select>

    <select id="selectBrkFaceByOriginId" parameterType="String" resultMap="BrkFaceResult">
        select face_id, face_name, comments, origin_id, origin_url, create_by, create_time, update_by, update_time
        from brk_face
        where origin_id = #{originId}
    </select>

    <select id="selectBrkFaceLayerList" parameterType="Long" resultMap="BrkFaceLayerResult">
        select layer_id, face_id, layer_type, data, x, y, width, height
        from brk_face_layer
        where face_id = #{faceId}
    </select>

    <insert id="insertBrkFace" parameterType="BrkFace" useGeneratedKeys="true" keyProperty="faceId">
        insert into brk_face
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="faceName != null and faceName != ''">face_name,</if>
            <if test="comments != null">comments,</if>
            <if test="originId != null">origin_id,</if>
            <if test="originUrl != null">origin_url,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="faceName != null and faceName != ''">#{faceName},</if>
            <if test="comments != null">#{comments},</if>
            <if test="originId != null">#{originId},</if>
            <if test="originUrl != null">#{originUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBrkFace" parameterType="BrkFace">
        update brk_face
        <trim prefix="SET" suffixOverrides=",">
            <if test="faceName != null and faceName != ''">face_name = #{faceName},</if>
            <if test="comments != null">comments = #{comments},</if>
            <if test="originId != null">origin_id = #{originId},</if>
            <if test="originUrl != null">origin_url = #{originUrl},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where face_id = #{faceId}
    </update>

    <delete id="deleteBrkFaceByFaceId" parameterType="Long">
        delete from brk_face where face_id = #{faceId}
    </delete>

    <delete id="deleteBrkFaceByFaceIds" parameterType="String">
        delete from brk_face where face_id in 
        <foreach item="faceId" collection="array" open="(" separator="," close=")">
            #{faceId}
        </foreach>
    </delete>
    
    <delete id="deleteBrkFaceLayerByFaceIds" parameterType="String">
        delete from brk_face_layer where face_id in 
        <foreach item="faceId" collection="array" open="(" separator="," close=")">
            #{faceId}
        </foreach>
    </delete>

    <delete id="deleteBrkFaceLayerByFaceId" parameterType="Long">
        delete from brk_face_layer where face_id = #{faceId}
    </delete>

    <insert id="batchBrkFaceLayer">
        insert into brk_face_layer( face_id, layer_type, data, x, y, width, height) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.faceId}, #{item.layerType}, #{item.data}, #{item.x}, #{item.y}, #{item.width}, #{item.height})
        </foreach>
    </insert>
</mapper>